In [58]:
import pandas as pd
import re

# Read in the CSV file 
applicants_2023 = pd.read_csv('C:/Users/ksultana/Videos/Internship/2023Applicants.csv')
print(applicants_2023.head(100))
print(applicants_2023.info())

    record_id  selection_type age  gender_id underrepresented ethnicity_other  \
0           1               0  20          1                7             NaN
1           2               0  21          2                7             NaN
2           3               0  19          2                8             NaN
3           4               2  21          2                8             NaN
4           5               0  19          1             5,10             NaN
..        ...             ...  ..        ...              ...             ...
95         96               0  20          2                7             NaN
96         97               1  20          1             8,10             NaN
97         98               0  21          1                3             NaN
98         99               0  19          1                3             NaN
99        100               0  20          1                8             NaN

   disadvantage  local             city  state  ... fp_choice_1  fp_choice_2  \
0           3,5    0.0    South Orange      31  ...           1            4
1         4,5,7    0.0      Wake Forest     34  ...           3            2
2             8    0.0         Alliance     36  ...           2            1
3             8    0.0  Massapequa Park     33  ...           2            1
4           3,5    0.0    Lawrenceville     11  ...           2            3
..          ...    ...              ...    ...  ...         ...          ...
95            8    0.0    Mechanicsburg     39  ...           3            4
96        3,5,7    0.0           Tucson      3  ...           1            3
97            8    0.0         Allston      22  ...           1            2
98            8    1.0      Morrisville     34  ...           2            1
99            8    0.0         Franklin     43  ...           4            1

    fp_choice_3  project_one project_one_2  project_one_3 project_one_4  \
0             2         10.0          15.0           22.0          13.0
1             1          7.0          20.0           13.0          12.0
2             4          3.0          16.0           19.0          12.0
3             4         10.0           4.0           15.0          14.0
4             4         15.0          14.0           10.0          12.0
..          ...          ...           ...            ...           ...
95            2          2.0          24.0            5.0           3.0
96            2         32.0           9.0           24.0           3.0
97            4          1.0           7.0            8.0          10.0
98            4         11.0           6.0            3.0           4.0
99            2          9.0           4.0           11.0          39.0

   project_one_5 sigsub application_submission_form_complete
0            4.0    1.0                                    2
1            4.0    1.0                                    2
2           10.0    1.0                                    2
3           22.0    1.0                                    2
4           13.0    1.0                                    2
..           ...    ...                                  ...
95          19.0    1.0                                    2
96          28.0    1.0                                    2
97          24.0    1.0                                    2
98          29.0    1.0                                    2
99          38.0    1.0                                    2

[100 rows x 37 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 37 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   record_id                             569 non-null    int64
 1   selection_type                        569 non-null    int64
 2   age                                   569 non-null    object
 3   gender_id                             569 non-null    int64
 4   underrepresented                      551 non-null    object
 5   ethnicity_other                       10 non-null     object
 6   disadvantage                          551 non-null    object
 7   local                                 555 non-null    float64
 8   city                                  569 non-null    object
 9   state                                 569 non-null    int64
 10  zipcode                               569 non-null    object
 11  citizenship                           569 non-null    int64
 12  citizenship_2                         563 non-null    float64
 13  covid_question                        569 non-null    int64
 14  institution                           569 non-null    object
 15  classification                        569 non-null    int64
 16  graduation_date                       569 non-null    object
 17  undergrad_major                       554 non-null    object
 18  minor                                 240 non-null    object
 19  grade_average                         567 non-null    object
 20  research_opportunities                569 non-null    int64
 21  available                             569 non-null    int64
 22  summer_classes                        569 non-null    int64
 23  concentration_choice1                 569 non-null    int64
 24  concentration_choice2                 569 non-null    int64
 25  concentration_choice3                 569 non-null    int64
 26  research_experience                   569 non-null    int64
 27  fp_choice_1                           569 non-null    int64
 28  fp_choice_2                           569 non-null    int64
 29  fp_choice_3                           569 non-null    int64
 30  project_one                           567 non-null    float64
 31  project_one_2                         567 non-null    float64
 32  project_one_3                         567 non-null    float64
 33  project_one_4                         566 non-null    float64
 34  project_one_5                         566 non-null    float64
 35  sigsub                                563 non-null    float64
 36  application_submission_form_complete  569 non-null    int64
dtypes: float64(8), int64(18), object(11)
memory usage: 164.6+ KB
None

In [59]:
def extract_number_or_decimal(value):
    if isinstance(value, (str, bytes)):
        # Extract numerical values and decimals using regular expression
        match = re.search(r'\d+\.\d+|\d+', value)
        if match:
            return match.group()
    return None

# Drop rows where 'age' column has value '#NUM!'
applicants_2023 = applicants_2023[applicants_2023['age'] != '#NUM!']

# Convert 'age' column to integer type after dropping rows with '#NUM!'
applicants_2023['age'] = applicants_2023['age'].astype(int)

# Drop rows where 'grade_average' column has value 'N/a'
applicants_2023 = applicants_2023[applicants_2023['grade_average'] != 'N/a']

# Extract numerical values or decimals from 'grade_average' column
applicants_2023['grade_average'] = applicants_2023['grade_average'].apply(extract_number_or_decimal)

# Convert to float
applicants_2023['grade_average'] = applicants_2023['grade_average'].astype(float)

# Drop rows with empty values in 'grade_average' column
applicants_2023 = applicants_2023.dropna(subset=['grade_average'])

# Fill empty values in 'local' column with 0
applicants_2023['local'] = applicants_2023['local'].fillna(0)

# Dropping unnecessary columns from the applicants_2023 DataFrame
applicants_2023 = applicants_2023.drop(columns=['record_id','ethnicity_other', 'state', 'zipcode', 'city', 'sigsub',
                                                'covid_question', 'institution','graduation_date',
                                                'application_submission_form_complete'])

# Drop rows with missing values only for the 'citizenship_2' column
applicants_2023.dropna(subset=['citizenship_2'], inplace=True)

# Drop rows with missing values only for the 'project_one_5' column
applicants_2023.dropna(subset=['project_one_5'], inplace=True)

# Converting specific columns to categorical type
applicants_2023[['selection_type', 'gender_id', 'local', 'citizenship','citizenship_2','classification','research_opportunities','available','summer_classes',
                'concentration_choice1','concentration_choice2','concentration_choice3','research_experience',
                 'fp_choice_1','fp_choice_2','fp_choice_3','project_one','project_one_2','project_one_3',
                 'project_one_4','project_one_5']]= applicants_2023[['selection_type', 'gender_id', 'local','citizenship','citizenship_2','classification',
'research_opportunities','available','summer_classes',
'concentration_choice1','concentration_choice2','concentration_choice3','research_experience','fp_choice_1','fp_choice_2','fp_choice_3','project_one','project_one_2'
                   ,'project_one_3','project_one_4','project_one_5']].astype('category')


print(applicants_2023.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 556 entries, 0 to 568
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   selection_type          556 non-null    category
 1   age                     556 non-null    int32
 2   gender_id               556 non-null    category
 3   underrepresented        538 non-null    object
 4   disadvantage            538 non-null    object
 5   local                   556 non-null    category
 6   citizenship             556 non-null    category
 7   citizenship_2           556 non-null    category
 8   classification          556 non-null    category
 9   undergrad_major         541 non-null    object
 10  minor                   235 non-null    object
 11  grade_average           556 non-null    float64
 12  research_opportunities  556 non-null    category
 13  available               556 non-null    category
 14  summer_classes          556 non-null    category
 15  concentration_choice1   556 non-null    category
 16  concentration_choice2   556 non-null    category
 17  concentration_choice3   556 non-null    category
 18  research_experience     556 non-null    category
 19  fp_choice_1             556 non-null    category
 20  fp_choice_2             556 non-null    category
 21  fp_choice_3             556 non-null    category
 22  project_one             556 non-null    category
 23  project_one_2           556 non-null    category
 24  project_one_3           556 non-null    category
 25  project_one_4           556 non-null    category
 26  project_one_5           556 non-null    category
dtypes: category(21), float64(1), int32(1), object(4)
memory usage: 49.4+ KB
None

In [60]:
# Split the multiple values in the 'underrepresented' column and expand into separate columns
split_columns = applicants_2023['underrepresented'].str.split(',', expand=True)

# Get unique values from all split columns
unique_values = split_columns.unstack().dropna().unique()

# Create new columns for each unique value
for value in unique_values:
    applicants_2023[f'underrepresented_{value}'] = split_columns.apply(lambda row: 1 if str(value) in row.values else 0, axis=1)
    
# List of newly created columns representing different categories extracted from the 'underrepresented' column
columns_to_convert = ['underrepresented_2', 'underrepresented_3', 'underrepresented_4','underrepresented_5','underrepresented_6',
                     'underrepresented_7','underrepresented_8','underrepresented_9','underrepresented_10', 'underrepresented_11'] 

# Iterate through columns_to_convert list and set the data type to 'category'
for column in columns_to_convert:
    applicants_2023[column] = applicants_2023[column].astype('category')

# Drop the original 'underrepresented' column
applicants_2023 = applicants_2023.drop(columns=['underrepresented'])

# Print the data types to confirm the changes
print(applicants_2023.dtypes)

print(applicants_2023.head(100))

selection_type            category
age                          int32
gender_id                 category
disadvantage                object
local                     category
citizenship               category
citizenship_2             category
classification            category
undergrad_major             object
minor                       object
grade_average              float64
research_opportunities    category
available                 category
summer_classes            category
concentration_choice1     category
concentration_choice2     category
concentration_choice3     category
research_experience       category
fp_choice_1               category
fp_choice_2               category
fp_choice_3               category
project_one               category
project_one_2             category
project_one_3             category
project_one_4             category
project_one_5             category
underrepresented_7        category
underrepresented_5        category
underrepresented_3        category
underrepresented_8        category
underrepresented_6        category
underrepresented_10       category
underrepresented_2        category
underrepresented_11       category
underrepresented_9        category
underrepresented_4        category
dtype: object
    selection_type  age gender_id disadvantage local citizenship  \
0                0   20         1          3,5   0.0           1
4                0   19         1          3,5   0.0           1
5                0   19         5            8   0.0           1
6                0   21         1            8   0.0           1
7                0   21         2            8   1.0           1
..             ...  ...       ...          ...   ...         ...
106              0   21         2            8   0.0           1
107              0   18         2            8   0.0           1
108              0   18         1            8   0.0           0
109              0   19         2        3,5,6   0.0           1
110              0   21         1            5   0.0           1

    citizenship_2 classification undergrad_major                     minor  \
0             3.0              3              10                       NaN
4             3.0              2               8                       NaN
5             3.0              2               1                       NaN
6             3.0              3               1                  Japanese
7             2.0              3               1              Neuroscience
..            ...            ...             ...                       ...
106           3.0              3               1                       NaN
107           3.0              1               1  Business and Engineering
108           1.0              1              13                       NaN
109           3.0              2            8,11                       NaN
110           3.0              3         7,10,13                       NaN

     ...  underrepresented_7 underrepresented_5 underrepresented_3  \
0    ...                   1                  0                  0
4    ...                   0                  1                  0
5    ...                   0                  0                  1
6    ...                   0                  0                  1
7    ...                   0                  0                  0
..   ...                 ...                ...                ...
106  ...                   0                  0                  0
107  ...                   0                  0                  1
108  ...                   1                  0                  0
109  ...                   1                  0                  0
110  ...                   0                  0                  0

    underrepresented_8 underrepresented_6 underrepresented_10  \
0                    0                  0                   0
4                    0                  0                   1
5                    0                  0                   0
6                    0                  0                   0
7                    1                  0                   0
..                 ...                ...                 ...
106                  1                  0                   0
107                  0                  0                   0
108                  0                  0                   0
109                  0                  0                   0
110                  1                  0                   0

    underrepresented_2 underrepresented_11 underrepresented_9  \
0                    0                   0                  0
4                    0                   0                  0
5                    0                   0                  1
6                    0                   0                  0
7                    0                   1                  0
..                 ...                 ...                ...
106                  0                   0                  0
107                  0                   0                  0
108                  0                   0                  0
109                  0                   0                  0
110                  0                   0                  0

    underrepresented_4
0                    0
4                    0
5                    0
6                    0
7                    0
..                 ...
106                  0
107                  0
108                  0
109                  0
110                  0

[100 rows x 36 columns]

In [61]:
# Split the multiple values in the 'underrepresented' column and expand into separate columns
split_columns = applicants_2023['disadvantage'].str.split(',', expand=True)

# Get unique values from all split columns
unique_values = split_columns.unstack().dropna().unique()

# Create new columns for each unique value
for value in unique_values:
    applicants_2023[f'disadvantage_{value}'] = split_columns.apply(lambda row: 1 if str(value) in row.values else 0, axis=1)
    
# List of newly created columns representing different categories extracted from the 'underrepresented' column
columns_to_convert = ['disadvantage_1', 'disadvantage_2', 'disadvantage_3','disadvantage_4','disadvantage_5',
                     'disadvantage_6','disadvantage_7','disadvantage_8'] 

# Iterate through columns_to_convert list and set the data type to 'category'
for column in columns_to_convert:
    applicants_2023[column] = applicants_2023[column].astype('category')

# Drop the original 'underrepresented' column
applicants_2023 = applicants_2023.drop(columns=['disadvantage'])

# Print the data types to confirm the changes
print(applicants_2023.dtypes)

print(applicants_2023.head(100))

selection_type            category
age                          int32
gender_id                 category
local                     category
citizenship               category
citizenship_2             category
classification            category
undergrad_major             object
minor                       object
grade_average              float64
research_opportunities    category
available                 category
summer_classes            category
concentration_choice1     category
concentration_choice2     category
concentration_choice3     category
research_experience       category
fp_choice_1               category
fp_choice_2               category
fp_choice_3               category
project_one               category
project_one_2             category
project_one_3             category
project_one_4             category
project_one_5             category
underrepresented_7        category
underrepresented_5        category
underrepresented_3        category
underrepresented_8        category
underrepresented_6        category
underrepresented_10       category
underrepresented_2        category
underrepresented_11       category
underrepresented_9        category
underrepresented_4        category
disadvantage_3            category
disadvantage_8            category
disadvantage_7            category
disadvantage_4            category
disadvantage_2            category
disadvantage_6            category
disadvantage_5            category
disadvantage_1            category
dtype: object
    selection_type  age gender_id local citizenship citizenship_2  \
0                0   20         1   0.0           1           3.0
4                0   19         1   0.0           1           3.0
5                0   19         5   0.0           1           3.0
6                0   21         1   0.0           1           3.0
7                0   21         2   1.0           1           2.0
..             ...  ...       ...   ...         ...           ...
106              0   21         2   0.0           1           3.0
107              0   18         2   0.0           1           3.0
108              0   18         1   0.0           0           1.0
109              0   19         2   0.0           1           3.0
110              0   21         1   0.0           1           3.0

    classification undergrad_major                     minor  grade_average  \
0                3              10                       NaN          3.629
4                2               8                       NaN          3.580
5                2               1                       NaN          3.738
6                3               1                  Japanese          3.790
7                3               1              Neuroscience          3.600
..             ...             ...                       ...            ...
106              3               1                       NaN          3.950
107              1               1  Business and Engineering          4.000
108              1              13                       NaN          4.000
109              2            8,11                       NaN          3.490
110              3         7,10,13                       NaN          3.520

     ... underrepresented_9 underrepresented_4 disadvantage_3 disadvantage_8  \
0    ...                  0                  0              1              0
4    ...                  0                  0              1              0
5    ...                  1                  0              0              1
6    ...                  0                  0              0              1
7    ...                  0                  0              0              1
..   ...                ...                ...            ...            ...
106  ...                  0                  0              0              1
107  ...                  0                  0              0              1
108  ...                  0                  0              0              1
109  ...                  0                  0              1              0
110  ...                  0                  0              0              0

    disadvantage_7 disadvantage_4 disadvantage_2 disadvantage_6  \
0                0              0              0              0
4                0              0              0              0
5                0              0              0              0
6                0              0              0              0
7                0              0              0              0
..             ...            ...            ...            ...
106              0              0              0              0
107              0              0              0              0
108              0              0              0              0
109              0              0              0              1
110              0              0              0              0

    disadvantage_5 disadvantage_1
0                1              0
4                1              0
5                0              0
6                0              0
7                0              0
..             ...            ...
106              0              0
107              0              0
108              0              0
109              1              0
110              1              0

[100 rows x 43 columns]

In [62]:
# Split the multiple values in the 'underrepresented' column and expand into separate columns
split_columns = applicants_2023['undergrad_major'].str.split(',', expand=True)

# Get unique values from all split columns
unique_values = split_columns.unstack().dropna().unique()

# Create new columns for each unique value
for value in unique_values:
    applicants_2023[f'undergrad_major_{value}'] = split_columns.apply(lambda row: 1 if str(value) in row.values else 0, axis=1)

# List of newly created columns representing different categories extracted from the 'underrepresented' column
columns_to_convert = ['undergrad_major_1', 'undergrad_major_2', 'undergrad_major_3','undergrad_major_4','undergrad_major_5',
                     'undergrad_major_6','undergrad_major_7','undergrad_major_8','undergrad_major_9','undergrad_major_10','undergrad_major_11',
                      'undergrad_major_12','undergrad_major_13'] 

# Iterate through columns_to_convert list and set the data type to 'category'
for column in columns_to_convert:
    applicants_2023[column] = applicants_2023[column].astype('category')

# Drop the original 'underrepresented' column
applicants_2023 = applicants_2023.drop(columns=['undergrad_major'])

# Print the data types to confirm the changes
print(applicants_2023.dtypes)

print(applicants_2023.head(100))

selection_type            category
age                          int32
gender_id                 category
local                     category
citizenship               category
citizenship_2             category
classification            category
minor                       object
grade_average              float64
research_opportunities    category
available                 category
summer_classes            category
concentration_choice1     category
concentration_choice2     category
concentration_choice3     category
research_experience       category
fp_choice_1               category
fp_choice_2               category
fp_choice_3               category
project_one               category
project_one_2             category
project_one_3             category
project_one_4             category
project_one_5             category
underrepresented_7        category
underrepresented_5        category
underrepresented_3        category
underrepresented_8        category
underrepresented_6        category
underrepresented_10       category
underrepresented_2        category
underrepresented_11       category
underrepresented_9        category
underrepresented_4        category
disadvantage_3            category
disadvantage_8            category
disadvantage_7            category
disadvantage_4            category
disadvantage_2            category
disadvantage_6            category
disadvantage_5            category
disadvantage_1            category
undergrad_major_10        category
undergrad_major_8         category
undergrad_major_1         category
undergrad_major_2         category
undergrad_major_3         category
undergrad_major_11        category
undergrad_major_12        category
undergrad_major_13        category
undergrad_major_7         category
undergrad_major_9         category
undergrad_major_4         category
undergrad_major_5         category
undergrad_major_6         category
dtype: object
    selection_type  age gender_id local citizenship citizenship_2  \
0                0   20         1   0.0           1           3.0
4                0   19         1   0.0           1           3.0
5                0   19         5   0.0           1           3.0
6                0   21         1   0.0           1           3.0
7                0   21         2   1.0           1           2.0
..             ...  ...       ...   ...         ...           ...
106              0   21         2   0.0           1           3.0
107              0   18         2   0.0           1           3.0
108              0   18         1   0.0           0           1.0
109              0   19         2   0.0           1           3.0
110              0   21         1   0.0           1           3.0

    classification                     minor  grade_average  \
0                3                       NaN          3.629
4                2                       NaN          3.580
5                2                       NaN          3.738
6                3                  Japanese          3.790
7                3              Neuroscience          3.600
..             ...                       ...            ...
106              3                       NaN          3.950
107              1  Business and Engineering          4.000
108              1                       NaN          4.000
109              2                       NaN          3.490
110              3                       NaN          3.520

    research_opportunities  ... undergrad_major_2 undergrad_major_3  \
0                        0  ...                 0                 0
4                        1  ...                 0                 0
5                        1  ...                 0                 0
6                        1  ...                 0                 0
7                        0  ...                 0                 0
..                     ...  ...               ...               ...
106                      1  ...                 0                 0
107                      1  ...                 0                 0
108                      1  ...                 0                 0
109                      1  ...                 0                 0
110                      1  ...                 0                 0

    undergrad_major_11 undergrad_major_12 undergrad_major_13  \
0                    0                  0                  0
4                    0                  0                  0
5                    0                  0                  0
6                    0                  0                  0
7                    0                  0                  0
..                 ...                ...                ...
106                  0                  0                  0
107                  0                  0                  0
108                  0                  0                  1
109                  1                  0                  0
110                  0                  0                  1

    undergrad_major_7 undergrad_major_9 undergrad_major_4 undergrad_major_5  \
0                   0                 0                 0                 0
4                   0                 0                 0                 0
5                   0                 0                 0                 0
6                   0                 0                 0                 0
7                   0                 0                 0                 0
..                ...               ...               ...               ...
106                 0                 0                 0                 0
107                 0                 0                 0                 0
108                 0                 0                 0                 0
109                 0                 0                 0                 0
110                 1                 0                 0                 0

    undergrad_major_6
0                   0
4                   0
5                   0
6                   0
7                   0
..                ...
106                 0
107                 0
108                 0
109                 0
110                 0

[100 rows x 55 columns]

In [63]:
# Fill missing values in the 'minor' column with 0 (for no)
applicants_2023['minor'] = applicants_2023['minor'].fillna(0)

# Replace non-missing values with 1 (for yes)
applicants_2023['minor'] = applicants_2023['minor'].apply(lambda x: 1 if x != 0 else 0)

# Convert 'minor' column to 'category'
applicants_2023['minor'] = applicants_2023['minor'].astype('category')

# Rename the column to indicate its meaning
applicants_2023.rename(columns={'minor': 'has_minor'}, inplace=True)

# Print the data types to confirm the changes
print(applicants_2023.dtypes)

print(applicants_2023.head(100))

# Save the cleaned applicants_2023 DataFrame to a CSV file
applicants_2023.to_csv('C:/Users/ksultana/Videos/Internship/2023Applicants_clean.csv', index=False, header=True)

selection_type            category
age                          int32
gender_id                 category
local                     category
citizenship               category
citizenship_2             category
classification            category
has_minor                 category
grade_average              float64
research_opportunities    category
available                 category
summer_classes            category
concentration_choice1     category
concentration_choice2     category
concentration_choice3     category
research_experience       category
fp_choice_1               category
fp_choice_2               category
fp_choice_3               category
project_one               category
project_one_2             category
project_one_3             category
project_one_4             category
project_one_5             category
underrepresented_7        category
underrepresented_5        category
underrepresented_3        category
underrepresented_8        category
underrepresented_6        category
underrepresented_10       category
underrepresented_2        category
underrepresented_11       category
underrepresented_9        category
underrepresented_4        category
disadvantage_3            category
disadvantage_8            category
disadvantage_7            category
disadvantage_4            category
disadvantage_2            category
disadvantage_6            category
disadvantage_5            category
disadvantage_1            category
undergrad_major_10        category
undergrad_major_8         category
undergrad_major_1         category
undergrad_major_2         category
undergrad_major_3         category
undergrad_major_11        category
undergrad_major_12        category
undergrad_major_13        category
undergrad_major_7         category
undergrad_major_9         category
undergrad_major_4         category
undergrad_major_5         category
undergrad_major_6         category
dtype: object
    selection_type  age gender_id local citizenship citizenship_2  \
0                0   20         1   0.0           1           3.0
4                0   19         1   0.0           1           3.0
5                0   19         5   0.0           1           3.0
6                0   21         1   0.0           1           3.0
7                0   21         2   1.0           1           2.0
..             ...  ...       ...   ...         ...           ...
106              0   21         2   0.0           1           3.0
107              0   18         2   0.0           1           3.0
108              0   18         1   0.0           0           1.0
109              0   19         2   0.0           1           3.0
110              0   21         1   0.0           1           3.0

    classification has_minor  grade_average research_opportunities  ...  \
0                3         0          3.629                      0  ...
4                2         0          3.580                      1  ...
5                2         0          3.738                      1  ...
6                3         1          3.790                      1  ...
7                3         1          3.600                      0  ...
..             ...       ...            ...                    ...  ...
106              3         0          3.950                      1  ...
107              1         1          4.000                      1  ...
108              1         0          4.000                      1  ...
109              2         0          3.490                      1  ...
110              3         0          3.520                      1  ...

    undergrad_major_2 undergrad_major_3 undergrad_major_11 undergrad_major_12  \
0                   0                 0                  0                  0
4                   0                 0                  0                  0
5                   0                 0                  0                  0
6                   0                 0                  0                  0
7                   0                 0                  0                  0
..                ...               ...                ...                ...
106                 0                 0                  0                  0
107                 0                 0                  0                  0
108                 0                 0                  0                  0
109                 0                 0                  1                  0
110                 0                 0                  0                  0

    undergrad_major_13 undergrad_major_7 undergrad_major_9 undergrad_major_4  \
0                    0                 0                 0                 0
4                    0                 0                 0                 0
5                    0                 0                 0                 0
6                    0                 0                 0                 0
7                    0                 0                 0                 0
..                 ...               ...               ...               ...
106                  0                 0                 0                 0
107                  0                 0                 0                 0
108                  1                 0                 0                 0
109                  0                 0                 0                 0
110                  1                 1                 0                 0

    undergrad_major_5 undergrad_major_6
0                   0                 0
4                   0                 0
5                   0                 0
6                   0                 0
7                   0                 0
..                ...               ...
106                 0                 0
107                 0                 0
108                 0                 0
109                 0                 0
110                 0                 0

[100 rows x 55 columns]