CV file Read

In [1]:
import pandas as pd

# Read in the CSV file 
applicants_2023 = pd.read_csv('C:/Users/ksultana/Videos/Internship/2023Applicants.csv')
print(applicants_2023.head(100))
print(applicants_2023.info())

    record_id  selection_type age  gender_id underrepresented ethnicity_other  \
0           1               0  20          1                7             NaN
1           2               0  21          2                7             NaN
2           3               0  19          2                8             NaN
3           4               2  21          2                8             NaN
4           5               0  19          1             5,10             NaN
..        ...             ...  ..        ...              ...             ...
95         96               0  20          2                7             NaN
96         97               1  20          1             8,10             NaN
97         98               0  21          1                3             NaN
98         99               0  19          1                3             NaN
99        100               0  20          1                8             NaN

   disadvantage  local             city  state  ... fp_choice_1  fp_choice_2  \
0           3,5    0.0    South Orange      31  ...           1            4
1         4,5,7    0.0      Wake Forest     34  ...           3            2
2             8    0.0         Alliance     36  ...           2            1
3             8    0.0  Massapequa Park     33  ...           2            1
4           3,5    0.0    Lawrenceville     11  ...           2            3
..          ...    ...              ...    ...  ...         ...          ...
95            8    0.0    Mechanicsburg     39  ...           3            4
96        3,5,7    0.0           Tucson      3  ...           1            3
97            8    0.0         Allston      22  ...           1            2
98            8    1.0      Morrisville     34  ...           2            1
99            8    0.0         Franklin     43  ...           4            1

    fp_choice_3  project_one project_one_2  project_one_3 project_one_4  \
0             2         10.0          15.0           22.0          13.0
1             1          7.0          20.0           13.0          12.0
2             4          3.0          16.0           19.0          12.0
3             4         10.0           4.0           15.0          14.0
4             4         15.0          14.0           10.0          12.0
..          ...          ...           ...            ...           ...
95            2          2.0          24.0            5.0           3.0
96            2         32.0           9.0           24.0           3.0
97            4          1.0           7.0            8.0          10.0
98            4         11.0           6.0            3.0           4.0
99            2          9.0           4.0           11.0          39.0

   project_one_5 sigsub application_submission_form_complete
0            4.0    1.0                                    2
1            4.0    1.0                                    2
2           10.0    1.0                                    2
3           22.0    1.0                                    2
4           13.0    1.0                                    2
..           ...    ...                                  ...
95          19.0    1.0                                    2
96          28.0    1.0                                    2
97          24.0    1.0                                    2
98          29.0    1.0                                    2
99          38.0    1.0                                    2

[100 rows x 37 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 37 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   record_id                             569 non-null    int64
 1   selection_type                        569 non-null    int64
 2   age                                   569 non-null    object
 3   gender_id                             569 non-null    int64
 4   underrepresented                      551 non-null    object
 5   ethnicity_other                       10 non-null     object
 6   disadvantage                          551 non-null    object
 7   local                                 555 non-null    float64
 8   city                                  569 non-null    object
 9   state                                 569 non-null    int64
 10  zipcode                               569 non-null    object
 11  citizenship                           569 non-null    int64
 12  citizenship_2                         563 non-null    float64
 13  covid_question                        569 non-null    int64
 14  institution                           569 non-null    object
 15  classification                        569 non-null    int64
 16  graduation_date                       569 non-null    object
 17  undergrad_major                       554 non-null    object
 18  minor                                 240 non-null    object
 19  grade_average                         567 non-null    object
 20  research_opportunities                569 non-null    int64
 21  available                             569 non-null    int64
 22  summer_classes                        569 non-null    int64
 23  concentration_choice1                 569 non-null    int64
 24  concentration_choice2                 569 non-null    int64
 25  concentration_choice3                 569 non-null    int64
 26  research_experience                   569 non-null    int64
 27  fp_choice_1                           569 non-null    int64
 28  fp_choice_2                           569 non-null    int64
 29  fp_choice_3                           569 non-null    int64
 30  project_one                           567 non-null    float64
 31  project_one_2                         567 non-null    float64
 32  project_one_3                         567 non-null    float64
 33  project_one_4                         566 non-null    float64
 34  project_one_5                         566 non-null    float64
 35  sigsub                                563 non-null    float64
 36  application_submission_form_complete  569 non-null    int64
dtypes: float64(8), int64(18), object(11)
memory usage: 164.6+ KB
None

In [2]:
# Drop rows where 'age' column has value '#NUM!'
applicants_2023 = applicants_2023[applicants_2023['age'] != '#NUM!']

# Drop rows where 'grade_average' column has value '#NUM!'
applicants_2023 = applicants_2023[applicants_2023['grade_average'] != 'NA']
applicants_2023 = applicants_2023[applicants_2023['grade_average'] != 'N/A']

# Drop the 'ethnicity_other' column
applicants_2023 = applicants_2023.drop(columns=['ethnicity_other'])
# Verify the updated DataFrame
print(applicants_2023.head())

# Drop rows with missing values only for the 'citizenship_2' column
applicants_2023.dropna(subset=['citizenship_2'], inplace=True)

   record_id  selection_type age  gender_id underrepresented disadvantage  \
0          1               0  20          1                7          3,5
1          2               0  21          2                7        4,5,7
2          3               0  19          2                8            8
3          4               2  21          2                8            8
4          5               0  19          1             5,10          3,5

   local             city  state zipcode  ...  fp_choice_1  fp_choice_2  \
0    0.0    South Orange      31    7079  ...            1            4
1    0.0      Wake Forest     34   27587  ...            3            2
2    0.0         Alliance     36   44601  ...            2            1
3    0.0  Massapequa Park     33   11762  ...            2            1
4    0.0    Lawrenceville     11   30043  ...            2            3

   fp_choice_3 project_one  project_one_2 project_one_3 project_one_4  \
0            2        10.0           15.0          22.0          13.0
1            1         7.0           20.0          13.0          12.0
2            4         3.0           16.0          19.0          12.0
3            4        10.0            4.0          15.0          14.0
4            4        15.0           14.0          10.0          12.0

  project_one_5 sigsub  application_submission_form_complete
0           4.0    1.0                                     2
1           4.0    1.0                                     2
2          10.0    1.0                                     2
3          22.0    1.0                                     2
4          13.0    1.0                                     2

[5 rows x 36 columns]

In [3]:
# Split the multiple values in the 'underrepresented' column and expand into separate columns
split_columns = applicants_2023['underrepresented'].str.split(',', expand=True)

# Get unique values from all split columns
unique_values = split_columns.unstack().dropna().unique()

# Create new columns for each unique value
for value in unique_values:
    applicants_2023[f'underrepresented_{value}'] = split_columns.apply(lambda row: 1 if str(value) in row.values else 0, axis=1)

# Drop the original 'underrepresented' column
applicants_2023 = applicants_2023.drop(columns=['underrepresented'])

print(applicants_2023.head(100))

    record_id  selection_type age  gender_id disadvantage  local  \
0           1               0  20          1          3,5    0.0
1           2               0  21          2        4,5,7    0.0
2           3               0  19          2            8    0.0
3           4               2  21          2            8    0.0
4           5               0  19          1          3,5    0.0
..        ...             ...  ..        ...          ...    ...
95         96               0  20          2            8    0.0
96         97               1  20          1        3,5,7    0.0
97         98               0  21          1            8    0.0
98         99               0  19          1            8    1.0
99        100               0  20          1            8    0.0

               city  state zipcode  citizenship  ...  underrepresented_7  \
0     South Orange      31    7079            1  ...                   1
1       Wake Forest     34   27587            1  ...                   1
2          Alliance     36   44601            1  ...                   0
3   Massapequa Park     33   11762            1  ...                   0
4     Lawrenceville     11   30043            1  ...                   0
..              ...    ...     ...          ...  ...                 ...
95    Mechanicsburg     39   17055            0  ...                   1
96           Tucson      3   85741            1  ...                   0
97         Allston      22    2134            0  ...                   0
98      Morrisville     34   27560            1  ...                   0
99         Franklin     43   37064            1  ...                   0

    underrepresented_8 underrepresented_5  underrepresented_3  \
0                    0                  0                   0
1                    0                  0                   0
2                    1                  0                   0
3                    1                  0                   0
4                    0                  1                   0
..                 ...                ...                 ...
95                   0                  0                   0
96                   1                  0                   0
97                   0                  0                   1
98                   0                  0                   1
99                   1                  0                   0

   underrepresented_6 underrepresented_10 underrepresented_2  \
0                   0                   0                  0
1                   0                   0                  0
2                   0                   0                  0
3                   0                   0                  0
4                   0                   1                  0
..                ...                 ...                ...
95                  0                   0                  0
96                  0                   1                  0
97                  0                   0                  0
98                  0                   0                  0
99                  0                   0                  0

   underrepresented_11  underrepresented_9  underrepresented_4
0                    0                   0                   0
1                    0                   0                   0
2                    0                   0                   0
3                    0                   0                   0
4                    0                   0                   0
..                 ...                 ...                 ...
95                   0                   0                   0
96                   0                   0                   0
97                   0                   0                   0
98                   0                   0                   0
99                   0                   0                   0

[100 rows x 45 columns]

In [5]:
# Split the multiple values in the 'underrepresented' column and expand into separate columns
split_columns = applicants_2023['disadvantage'].str.split(',', expand=True)

# Get unique values from all split columns
unique_values = split_columns.unstack().dropna().unique()

# Create new columns for each unique value
for value in unique_values:
    applicants_2023[f'disadvantage_{value}'] = split_columns.apply(lambda row: 1 if str(value) in row.values else 0, axis=1)

# Drop the original 'underrepresented' column
applicants_2023 = applicants_2023.drop(columns=['disadvantage'])

print(applicants_2023.head(100))

    record_id  selection_type age  gender_id  local             city  state  \
0           1               0  20          1    0.0    South Orange      31
1           2               0  21          2    0.0      Wake Forest     34
2           3               0  19          2    0.0         Alliance     36
3           4               2  21          2    0.0  Massapequa Park     33
4           5               0  19          1    0.0    Lawrenceville     11
..        ...             ...  ..        ...    ...              ...    ...
95         96               0  20          2    0.0    Mechanicsburg     39
96         97               1  20          1    0.0           Tucson      3
97         98               0  21          1    0.0         Allston      22
98         99               0  19          1    1.0      Morrisville     34
99        100               0  20          1    0.0         Franklin     43

   zipcode  citizenship  citizenship_2  ...  underrepresented_9  \
0     7079            1            3.0  ...                   0
1    27587            1            NaN  ...                   0
2    44601            1            NaN  ...                   0
3    11762            1            NaN  ...                   0
4    30043            1            3.0  ...                   0
..     ...          ...            ...  ...                 ...
95   17055            0            1.0  ...                   0
96   85741            1            3.0  ...                   0
97    2134            0            1.0  ...                   0
98   27560            1            3.0  ...                   0
99   37064            1            2.0  ...                   0

   underrepresented_4  disadvantage_3 disadvantage_4 disadvantage_8  \
0                   0               1              0              0
1                   0               0              1              0
2                   0               0              0              1
3                   0               0              0              1
4                   0               1              0              0
..                ...             ...            ...            ...
95                  0               0              0              1
96                  0               1              0              0
97                  0               0              0              1
98                  0               0              0              1
99                  0               0              0              1

   disadvantage_7 disadvantage_2  disadvantage_6  disadvantage_5  \
0               0              0               0               1
1               1              0               0               1
2               0              0               0               0
3               0              0               0               0
4               0              0               0               1
..            ...            ...             ...             ...
95              0              0               0               0
96              1              0               0               1
97              0              0               0               0
98              0              0               0               0
99              0              0               0               0

    disadvantage_1
0                0
1                0
2                0
3                0
4                0
..             ...
95               0
96               0
97               0
98               0
99               0

[100 rows x 52 columns]

In [ ]:
# Split the multiple values in the 'underrepresented' column and expand into separate columns
split_columns = applicants_2023['undergrad_major'].str.split(',', expand=True)

# Get unique values from all split columns
unique_values = split_columns.unstack().dropna().unique()

# Create new columns for each unique value
for value in unique_values:
    applicants_2023[f'undergrad_major_{value}'] = split_columns.apply(lambda row: 1 if str(value) in row.values else 0, axis=1)

# Drop the original 'underrepresented' column
applicants_2023 = applicants_2023.drop(columns=['undergrad_major'])

print(applicants_2023.head(100))

In [ ]:
# Fill missing values in the 'minor' column with 0 (for no)
applicants_2023['minor'] = applicants_2023['minor'].fillna(0)

# Replace non-missing values with 1 (for yes)
applicants_2023['minor'] = applicants_2023['minor'].apply(lambda x: 1 if x != 0 else 0)

# Rename the column to indicate its meaning
applicants_2023.rename(columns={'minor': 'has_minor'}, inplace=True)

print(applicants_2023.head())

applicants_2023.to_csv('C:/Users/ksultana/Videos/Internship/2023Applicants_clean.csv', index=False, header=True)