CV file Read

In [59]:
import pandas as pd
import re

# Read in the CSV file 
applicants_2023 = pd.read_csv('C:/Users/ksultana/Videos/Internship/2023Applicants.csv')
print(applicants_2023.head(100))
print(applicants_2023.info())

    record_id  selection_type age  gender_id underrepresented ethnicity_other  \
0           1               0  20          1                7             NaN
1           2               0  21          2                7             NaN
2           3               0  19          2                8             NaN
3           4               2  21          2                8             NaN
4           5               0  19          1             5,10             NaN
..        ...             ...  ..        ...              ...             ...
95         96               0  20          2                7             NaN
96         97               1  20          1             8,10             NaN
97         98               0  21          1                3             NaN
98         99               0  19          1                3             NaN
99        100               0  20          1                8             NaN

   disadvantage  local             city  state  ... fp_choice_1  fp_choice_2  \
0           3,5    0.0    South Orange      31  ...           1            4
1         4,5,7    0.0      Wake Forest     34  ...           3            2
2             8    0.0         Alliance     36  ...           2            1
3             8    0.0  Massapequa Park     33  ...           2            1
4           3,5    0.0    Lawrenceville     11  ...           2            3
..          ...    ...              ...    ...  ...         ...          ...
95            8    0.0    Mechanicsburg     39  ...           3            4
96        3,5,7    0.0           Tucson      3  ...           1            3
97            8    0.0         Allston      22  ...           1            2
98            8    1.0      Morrisville     34  ...           2            1
99            8    0.0         Franklin     43  ...           4            1

    fp_choice_3  project_one project_one_2  project_one_3 project_one_4  \
0             2         10.0          15.0           22.0          13.0
1             1          7.0          20.0           13.0          12.0
2             4          3.0          16.0           19.0          12.0
3             4         10.0           4.0           15.0          14.0
4             4         15.0          14.0           10.0          12.0
..          ...          ...           ...            ...           ...
95            2          2.0          24.0            5.0           3.0
96            2         32.0           9.0           24.0           3.0
97            4          1.0           7.0            8.0          10.0
98            4         11.0           6.0            3.0           4.0
99            2          9.0           4.0           11.0          39.0

   project_one_5 sigsub application_submission_form_complete
0            4.0    1.0                                    2
1            4.0    1.0                                    2
2           10.0    1.0                                    2
3           22.0    1.0                                    2
4           13.0    1.0                                    2
..           ...    ...                                  ...
95          19.0    1.0                                    2
96          28.0    1.0                                    2
97          24.0    1.0                                    2
98          29.0    1.0                                    2
99          38.0    1.0                                    2

[100 rows x 37 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 37 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   record_id                             569 non-null    int64
 1   selection_type                        569 non-null    int64
 2   age                                   569 non-null    object
 3   gender_id                             569 non-null    int64
 4   underrepresented                      551 non-null    object
 5   ethnicity_other                       10 non-null     object
 6   disadvantage                          551 non-null    object
 7   local                                 555 non-null    float64
 8   city                                  569 non-null    object
 9   state                                 569 non-null    int64
 10  zipcode                               569 non-null    object
 11  citizenship                           569 non-null    int64
 12  citizenship_2                         563 non-null    float64
 13  covid_question                        569 non-null    int64
 14  institution                           569 non-null    object
 15  classification                        569 non-null    int64
 16  graduation_date                       569 non-null    object
 17  undergrad_major                       554 non-null    object
 18  minor                                 240 non-null    object
 19  grade_average                         567 non-null    object
 20  research_opportunities                569 non-null    int64
 21  available                             569 non-null    int64
 22  summer_classes                        569 non-null    int64
 23  concentration_choice1                 569 non-null    int64
 24  concentration_choice2                 569 non-null    int64
 25  concentration_choice3                 569 non-null    int64
 26  research_experience                   569 non-null    int64
 27  fp_choice_1                           569 non-null    int64
 28  fp_choice_2                           569 non-null    int64
 29  fp_choice_3                           569 non-null    int64
 30  project_one                           567 non-null    float64
 31  project_one_2                         567 non-null    float64
 32  project_one_3                         567 non-null    float64
 33  project_one_4                         566 non-null    float64
 34  project_one_5                         566 non-null    float64
 35  sigsub                                563 non-null    float64
 36  application_submission_form_complete  569 non-null    int64
dtypes: float64(8), int64(18), object(11)
memory usage: 164.6+ KB
None

In [60]:
def extract_number_or_decimal(value):
    if isinstance(value, (str, bytes)):
        # Extract numerical values and decimals using regular expression
        match = re.search(r'\d+\.\d+|\d+', value)
        if match:
            return match.group()
    return None

# Drop rows where 'age' column has value '#NUM!'
applicants_2023 = applicants_2023[applicants_2023['age'] != '#NUM!']

# Drop rows where 'grade_average' column has value 'N/a'
applicants_2023 = applicants_2023[applicants_2023['grade_average'] != 'N/a']

# Extract numerical values or decimals from 'grade_average' column
applicants_2023['grade_average'] = applicants_2023['grade_average'].apply(extract_number_or_decimal)

# Convert to float
applicants_2023['grade_average'] = applicants_2023['grade_average'].astype(float)

# Drop rows with empty values in 'grade_average' column
applicants_2023 = applicants_2023.dropna(subset=['grade_average'])

# Fill empty values in 'local' column with 0
applicants_2023['local'] = applicants_2023['local'].fillna(0)

# Drop the 'ethnicity_other' column
applicants_2023 = applicants_2023.drop(columns=['ethnicity_other'])

# Drop the 'sigsub' column
applicants_2023 = applicants_2023.drop(columns=['sigsub'])

# Drop the 'application_submission_form_complete' column
applicants_2023 = applicants_2023.drop(columns=['application_submission_form_complete'])

# Drop rows with missing values only for the 'citizenship_2' column
applicants_2023.dropna(subset=['citizenship_2'], inplace=True)

# Drop rows with missing values only for the 'project_one_5' column
applicants_2023.dropna(subset=['project_one_5'], inplace=True)

print(applicants_2023.head(100))

     record_id  selection_type age  gender_id underrepresented disadvantage  \
0            1               0  20          1                7          3,5
4            5               0  19          1             5,10          3,5
5            6               0  19          5              3,9            8
6            7               0  21          1                3            8
7            8               0  21          2             8,11            8
..         ...             ...  ..        ...              ...          ...
106        107               0  21          2                8            8
107        108               0  18          2                3            8
108        109               0  18          1                7            8
109        110               0  19          2                7        3,5,6
110        111               0  21          1                8            5

     local           city  state zipcode  ...  concentration_choice3  \
0      0.0  South Orange      31    7079  ...                      6
4      0.0  Lawrenceville     11   30043  ...                      5
5      0.0    Los Angeles      5   90024  ...                      6
6      0.0  Oklahoma City     37   73159  ...                      1
7      1.0    Chapel Hill     34   27514  ...                      1
..     ...            ...    ...     ...  ...                    ...
106    0.0       Nazareth     39   18064  ...                      1
107    0.0        Suwanee     11   30024  ...                      5
108    0.0     Orangeburg     41   29115  ...                      1
109    0.0        Hampton     47   23669  ...                      5
110    0.0      Iowa City     16   52240  ...                      3

     research_experience  fp_choice_1 fp_choice_2  fp_choice_3 project_one  \
0                      1            1           4            2        10.0
4                      1            2           3            4        15.0
5                      1            2           1            3        24.0
6                      1            2           1            4         5.0
7                      1            2           3            1        21.0
..                   ...          ...         ...          ...         ...
106                    1            4           1            2         3.0
107                    1            1           4            2        28.0
108                    1            3           2            1        33.0
109                    1            3           1            2        14.0
110                    1            2           1            3        34.0

    project_one_2 project_one_3  project_one_4  project_one_5
0            15.0          22.0           13.0            4.0
4            14.0          10.0           12.0           13.0
5            21.0          45.0           11.0           19.0
6            25.0           2.0            4.0           23.0
7             4.0          39.0           34.0           17.0
..            ...           ...            ...            ...
106           4.0          24.0           15.0           21.0
107          12.0          25.0            8.0            3.0
108          24.0          13.0            3.0            4.0
109          12.0          10.0            1.0            4.0
110          33.0          21.0           24.0           18.0

[100 rows x 34 columns]

In [53]:
# Split the multiple values in the 'underrepresented' column and expand into separate columns
split_columns = applicants_2023['underrepresented'].str.split(',', expand=True)

# Get unique values from all split columns
unique_values = split_columns.unstack().dropna().unique()

# Create new columns for each unique value
for value in unique_values:
    applicants_2023[f'underrepresented_{value}'] = split_columns.apply(lambda row: 1 if str(value) in row.values else 0, axis=1)
    
# Convert specific columns to int
columns_to_convert = ['underrepresented_2', 'underrepresented_3', 'underrepresented_4','underrepresented_5','underrepresented_6',
                     'underrepresented_7','underrepresented_8','underrepresented_9','underrepresented_10', 'underrepresented_11'] 

for column in columns_to_convert:
    applicants_2023[column] = applicants_2023[column].astype(int)

# Print the data types to confirm the changes
print(applicants_2023.dtypes)

# Drop the original 'underrepresented' column
applicants_2023 = applicants_2023.drop(columns=['underrepresented'])

print(applicants_2023.head(100))

record_id                   int64
selection_type              int64
age                        object
gender_id                   int64
underrepresented           object
disadvantage               object
local                     float64
city                       object
state                       int64
zipcode                    object
citizenship                 int64
citizenship_2             float64
covid_question              int64
institution                object
classification              int64
graduation_date            object
undergrad_major            object
minor                      object
grade_average             float64
research_opportunities      int64
available                   int64
summer_classes              int64
concentration_choice1       int64
concentration_choice2       int64
concentration_choice3       int64
research_experience         int64
fp_choice_1                 int64
fp_choice_2                 int64
fp_choice_3                 int64
project_one               float64
project_one_2             float64
project_one_3             float64
project_one_4             float64
project_one_5             float64
underrepresented_7          int32
underrepresented_5          int32
underrepresented_3          int32
underrepresented_8          int32
underrepresented_6          int32
underrepresented_10         int32
underrepresented_2          int32
underrepresented_11         int32
underrepresented_9          int32
underrepresented_4          int32
dtype: object
     record_id  selection_type age  gender_id disadvantage  local  \
0            1               0  20          1          3,5    0.0
4            5               0  19          1          3,5    0.0
5            6               0  19          5            8    0.0
6            7               0  21          1            8    0.0
7            8               0  21          2            8    1.0
..         ...             ...  ..        ...          ...    ...
106        107               0  21          2            8    0.0
107        108               0  18          2            8    0.0
108        109               0  18          1            8    0.0
109        110               0  19          2        3,5,6    0.0
110        111               0  21          1            5    0.0

              city  state zipcode  citizenship  ...  underrepresented_7  \
0    South Orange      31    7079            1  ...                   1
4    Lawrenceville     11   30043            1  ...                   0
5      Los Angeles      5   90024            1  ...                   0
6    Oklahoma City     37   73159            1  ...                   0
7      Chapel Hill     34   27514            1  ...                   0
..             ...    ...     ...          ...  ...                 ...
106       Nazareth     39   18064            1  ...                   0
107        Suwanee     11   30024            1  ...                   0
108     Orangeburg     41   29115            0  ...                   1
109        Hampton     47   23669            1  ...                   1
110      Iowa City     16   52240            1  ...                   0

     underrepresented_5 underrepresented_3  underrepresented_8  \
0                     0                  0                   0
4                     1                  0                   0
5                     0                  1                   0
6                     0                  1                   0
7                     0                  0                   1
..                  ...                ...                 ...
106                   0                  0                   1
107                   0                  1                   0
108                   0                  0                   0
109                   0                  0                   0
110                   0                  0                   1

    underrepresented_6 underrepresented_10 underrepresented_2  \
0                    0                   0                  0
4                    0                   1                  0
5                    0                   0                  0
6                    0                   0                  0
7                    0                   0                  0
..                 ...                 ...                ...
106                  0                   0                  0
107                  0                   0                  0
108                  0                   0                  0
109                  0                   0                  0
110                  0                   0                  0

     underrepresented_11  underrepresented_9  underrepresented_4
0                      0                   0                   0
4                      0                   0                   0
5                      0                   1                   0
6                      0                   0                   0
7                      1                   0                   0
..                   ...                 ...                 ...
106                    0                   0                   0
107                    0                   0                   0
108                    0                   0                   0
109                    0                   0                   0
110                    0                   0                   0

[100 rows x 43 columns]

In [54]:
# Split the multiple values in the 'underrepresented' column and expand into separate columns
split_columns = applicants_2023['disadvantage'].str.split(',', expand=True)

# Get unique values from all split columns
unique_values = split_columns.unstack().dropna().unique()

# Create new columns for each unique value
for value in unique_values:
    applicants_2023[f'disadvantage_{value}'] = split_columns.apply(lambda row: 1 if str(value) in row.values else 0, axis=1)
    
# Convert specific columns to int
columns_to_convert = ['disadvantage_1', 'disadvantage_2', 'disadvantage_3','disadvantage_4','disadvantage_5',
                     'disadvantage_6','disadvantage_7','disadvantage_8'] 

for column in columns_to_convert:
    applicants_2023[column] = applicants_2023[column].astype(int)

# Print the data types to confirm the changes
print(applicants_2023.dtypes)

# Drop the original 'underrepresented' column
applicants_2023 = applicants_2023.drop(columns=['disadvantage'])

print(applicants_2023.head(100))

record_id                   int64
selection_type              int64
age                        object
gender_id                   int64
disadvantage               object
local                     float64
city                       object
state                       int64
zipcode                    object
citizenship                 int64
citizenship_2             float64
covid_question              int64
institution                object
classification              int64
graduation_date            object
undergrad_major            object
minor                      object
grade_average             float64
research_opportunities      int64
available                   int64
summer_classes              int64
concentration_choice1       int64
concentration_choice2       int64
concentration_choice3       int64
research_experience         int64
fp_choice_1                 int64
fp_choice_2                 int64
fp_choice_3                 int64
project_one               float64
project_one_2             float64
project_one_3             float64
project_one_4             float64
project_one_5             float64
underrepresented_7          int32
underrepresented_5          int32
underrepresented_3          int32
underrepresented_8          int32
underrepresented_6          int32
underrepresented_10         int32
underrepresented_2          int32
underrepresented_11         int32
underrepresented_9          int32
underrepresented_4          int32
disadvantage_3              int32
disadvantage_8              int32
disadvantage_7              int32
disadvantage_4              int32
disadvantage_2              int32
disadvantage_6              int32
disadvantage_5              int32
disadvantage_1              int32
dtype: object
     record_id  selection_type age  gender_id  local           city  state  \
0            1               0  20          1    0.0  South Orange      31
4            5               0  19          1    0.0  Lawrenceville     11
5            6               0  19          5    0.0    Los Angeles      5
6            7               0  21          1    0.0  Oklahoma City     37
7            8               0  21          2    1.0    Chapel Hill     34
..         ...             ...  ..        ...    ...            ...    ...
106        107               0  21          2    0.0       Nazareth     39
107        108               0  18          2    0.0        Suwanee     11
108        109               0  18          1    0.0     Orangeburg     41
109        110               0  19          2    0.0        Hampton     47
110        111               0  21          1    0.0      Iowa City     16

    zipcode  citizenship  citizenship_2  ...  underrepresented_9  \
0      7079            1            3.0  ...                   0
4     30043            1            3.0  ...                   0
5     90024            1            3.0  ...                   1
6     73159            1            3.0  ...                   0
7     27514            1            2.0  ...                   0
..      ...          ...            ...  ...                 ...
106   18064            1            3.0  ...                   0
107   30024            1            3.0  ...                   0
108   29115            0            1.0  ...                   0
109   23669            1            3.0  ...                   0
110   52240            1            3.0  ...                   0

    underrepresented_4  disadvantage_3 disadvantage_8 disadvantage_7  \
0                    0               1              0              0
4                    0               1              0              0
5                    0               0              1              0
6                    0               0              1              0
7                    0               0              1              0
..                 ...             ...            ...            ...
106                  0               0              1              0
107                  0               0              1              0
108                  0               0              1              0
109                  0               1              0              0
110                  0               0              0              0

    disadvantage_4  disadvantage_2  disadvantage_6  disadvantage_5  \
0                0               0               0               1
4                0               0               0               1
5                0               0               0               0
6                0               0               0               0
7                0               0               0               0
..             ...             ...             ...             ...
106              0               0               0               0
107              0               0               0               0
108              0               0               0               0
109              0               0               1               1
110              0               0               0               1

     disadvantage_1
0                 0
4                 0
5                 0
6                 0
7                 0
..              ...
106               0
107               0
108               0
109               0
110               0

[100 rows x 50 columns]

In [55]:
# Split the multiple values in the 'underrepresented' column and expand into separate columns
split_columns = applicants_2023['undergrad_major'].str.split(',', expand=True)

# Get unique values from all split columns
unique_values = split_columns.unstack().dropna().unique()

# Create new columns for each unique value
for value in unique_values:
    applicants_2023[f'undergrad_major_{value}'] = split_columns.apply(lambda row: 1 if str(value) in row.values else 0, axis=1)

# Convert specific columns to int
columns_to_convert = ['undergrad_major_1', 'undergrad_major_2', 'undergrad_major_3','undergrad_major_4','undergrad_major_5',
                     'undergrad_major_6','undergrad_major_8','undergrad_major_9','undergrad_major_10','undergrad_major_11',
                      'undergrad_major_12','undergrad_major_13'] 

for column in columns_to_convert:
    applicants_2023[column] = applicants_2023[column].astype(int)

# Print the data types to confirm the changes
print(applicants_2023.dtypes)

    
# Drop the original 'underrepresented' column
applicants_2023 = applicants_2023.drop(columns=['undergrad_major'])

print(applicants_2023.head(100))

record_id              int64
selection_type         int64
age                   object
gender_id              int64
local                float64
                      ...
undergrad_major_7      int64
undergrad_major_9      int32
undergrad_major_4      int32
undergrad_major_5      int32
undergrad_major_6      int32
Length: 63, dtype: object
     record_id  selection_type age  gender_id  local           city  state  \
0            1               0  20          1    0.0  South Orange      31
4            5               0  19          1    0.0  Lawrenceville     11
5            6               0  19          5    0.0    Los Angeles      5
6            7               0  21          1    0.0  Oklahoma City     37
7            8               0  21          2    1.0    Chapel Hill     34
..         ...             ...  ..        ...    ...            ...    ...
106        107               0  21          2    0.0       Nazareth     39
107        108               0  18          2    0.0        Suwanee     11
108        109               0  18          1    0.0     Orangeburg     41
109        110               0  19          2    0.0        Hampton     47
110        111               0  21          1    0.0      Iowa City     16

    zipcode  citizenship  citizenship_2  ...  undergrad_major_2  \
0      7079            1            3.0  ...                  0
4     30043            1            3.0  ...                  0
5     90024            1            3.0  ...                  0
6     73159            1            3.0  ...                  0
7     27514            1            2.0  ...                  0
..      ...          ...            ...  ...                ...
106   18064            1            3.0  ...                  0
107   30024            1            3.0  ...                  0
108   29115            0            1.0  ...                  0
109   23669            1            3.0  ...                  0
110   52240            1            3.0  ...                  0

    undergrad_major_3  undergrad_major_11 undergrad_major_12  \
0                   0                   0                  0
4                   0                   0                  0
5                   0                   0                  0
6                   0                   0                  0
7                   0                   0                  0
..                ...                 ...                ...
106                 0                   0                  0
107                 0                   0                  0
108                 0                   0                  0
109                 0                   1                  0
110                 0                   0                  0

    undergrad_major_13  undergrad_major_7  undergrad_major_9  \
0                    0                  0                  0
4                    0                  0                  0
5                    0                  0                  0
6                    0                  0                  0
7                    0                  0                  0
..                 ...                ...                ...
106                  0                  0                  0
107                  0                  0                  0
108                  1                  0                  0
109                  0                  0                  0
110                  1                  1                  0

     undergrad_major_4  undergrad_major_5  undergrad_major_6
0                    0                  0                  0
4                    0                  0                  0
5                    0                  0                  0
6                    0                  0                  0
7                    0                  0                  0
..                 ...                ...                ...
106                  0                  0                  0
107                  0                  0                  0
108                  0                  0                  0
109                  0                  0                  0
110                  0                  0                  0

[100 rows x 62 columns]

In [56]:
# Fill missing values in the 'minor' column with 0 (for no)
applicants_2023['minor'] = applicants_2023['minor'].fillna(0)

# Replace non-missing values with 1 (for yes)
applicants_2023['minor'] = applicants_2023['minor'].apply(lambda x: 1 if x != 0 else 0)

# Rename the column to indicate its meaning
applicants_2023.rename(columns={'minor': 'has_minor'}, inplace=True)

print(applicants_2023.head(100))

     record_id  selection_type age  gender_id  local           city  state  \
0            1               0  20          1    0.0  South Orange      31
4            5               0  19          1    0.0  Lawrenceville     11
5            6               0  19          5    0.0    Los Angeles      5
6            7               0  21          1    0.0  Oklahoma City     37
7            8               0  21          2    1.0    Chapel Hill     34
..         ...             ...  ..        ...    ...            ...    ...
106        107               0  21          2    0.0       Nazareth     39
107        108               0  18          2    0.0        Suwanee     11
108        109               0  18          1    0.0     Orangeburg     41
109        110               0  19          2    0.0        Hampton     47
110        111               0  21          1    0.0      Iowa City     16

    zipcode  citizenship  citizenship_2  ...  undergrad_major_2  \
0      7079            1            3.0  ...                  0
4     30043            1            3.0  ...                  0
5     90024            1            3.0  ...                  0
6     73159            1            3.0  ...                  0
7     27514            1            2.0  ...                  0
..      ...          ...            ...  ...                ...
106   18064            1            3.0  ...                  0
107   30024            1            3.0  ...                  0
108   29115            0            1.0  ...                  0
109   23669            1            3.0  ...                  0
110   52240            1            3.0  ...                  0

    undergrad_major_3  undergrad_major_11 undergrad_major_12  \
0                   0                   0                  0
4                   0                   0                  0
5                   0                   0                  0
6                   0                   0                  0
7                   0                   0                  0
..                ...                 ...                ...
106                 0                   0                  0
107                 0                   0                  0
108                 0                   0                  0
109                 0                   1                  0
110                 0                   0                  0

     undergrad_major_13  undergrad_major_7  undergrad_major_9  \
0                     0                  0                  0
4                     0                  0                  0
5                     0                  0                  0
6                     0                  0                  0
7                     0                  0                  0
..                  ...                ...                ...
106                   0                  0                  0
107                   0                  0                  0
108                   1                  0                  0
109                   0                  0                  0
110                   1                  1                  0

     undergrad_major_4  undergrad_major_5  undergrad_major_6
0                    0                  0                  0
4                    0                  0                  0
5                    0                  0                  0
6                    0                  0                  0
7                    0                  0                  0
..                 ...                ...                ...
106                  0                  0                  0
107                  0                  0                  0
108                  0                  0                  0
109                  0                  0                  0
110                  0                  0                  0

[100 rows x 62 columns]

In [57]:
# Convert specific columns to int
columns_to_convert = ['age', 'local', 'project_one','project_one_2','project_one_3',
                     'project_one_4','project_one_5'] 

for column in columns_to_convert:
    applicants_2023[column] = applicants_2023[column].astype(int)

# Remove non-numeric characters from 'zipcode'
applicants_2023['zipcode'] = applicants_2023['zipcode'].str.replace(r'\D', '', regex=True)

# Convert 'zipcode' column from object to int
applicants_2023['zipcode'] = applicants_2023['zipcode'].astype(int)


# Convert 'citizenship_2' column from float to int
applicants_2023['citizenship_2'] = applicants_2023['citizenship_2'].astype(int)

applicants_2023['graduation_date'] = pd.to_datetime(applicants_2023['graduation_date'], format='%m/%d/%Y', errors='coerce')



# Print the data types to confirm the changes
print(applicants_2023.dtypes)
print(applicants_2023.info())

applicants_2023.to_csv('C:/Users/ksultana/Videos/Internship/2023Applicants_clean.csv', index=False, header=True)

record_id            int64
selection_type       int64
age                  int32
gender_id            int64
local                int32
                     ...
undergrad_major_7    int64
undergrad_major_9    int32
undergrad_major_4    int32
undergrad_major_5    int32
undergrad_major_6    int32
Length: 62, dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 556 entries, 0 to 568
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   record_id               556 non-null    int64
 1   selection_type          556 non-null    int64
 2   age                     556 non-null    int32
 3   gender_id               556 non-null    int64
 4   local                   556 non-null    int32
 5   city                    556 non-null    object
 6   state                   556 non-null    int64
 7   zipcode                 556 non-null    int32
 8   citizenship             556 non-null    int64
 9   citizenship_2           556 non-null    int32
 10  covid_question          556 non-null    int64
 11  institution             556 non-null    object
 12  classification          556 non-null    int64
 13  graduation_date         556 non-null    datetime64[ns]
 14  has_minor               556 non-null    int64
 15  grade_average           556 non-null    float64
 16  research_opportunities  556 non-null    int64
 17  available               556 non-null    int64
 18  summer_classes          556 non-null    int64
 19  concentration_choice1   556 non-null    int64
 20  concentration_choice2   556 non-null    int64
 21  concentration_choice3   556 non-null    int64
 22  research_experience     556 non-null    int64
 23  fp_choice_1             556 non-null    int64
 24  fp_choice_2             556 non-null    int64
 25  fp_choice_3             556 non-null    int64
 26  project_one             556 non-null    int32
 27  project_one_2           556 non-null    int32
 28  project_one_3           556 non-null    int32
 29  project_one_4           556 non-null    int32
 30  project_one_5           556 non-null    int32
 31  underrepresented_7      556 non-null    int32
 32  underrepresented_5      556 non-null    int32
 33  underrepresented_3      556 non-null    int32
 34  underrepresented_8      556 non-null    int32
 35  underrepresented_6      556 non-null    int32
 36  underrepresented_10     556 non-null    int32
 37  underrepresented_2      556 non-null    int32
 38  underrepresented_11     556 non-null    int32
 39  underrepresented_9      556 non-null    int32
 40  underrepresented_4      556 non-null    int32
 41  disadvantage_3          556 non-null    int32
 42  disadvantage_8          556 non-null    int32
 43  disadvantage_7          556 non-null    int32
 44  disadvantage_4          556 non-null    int32
 45  disadvantage_2          556 non-null    int32
 46  disadvantage_6          556 non-null    int32
 47  disadvantage_5          556 non-null    int32
 48  disadvantage_1          556 non-null    int32
 49  undergrad_major_10      556 non-null    int32
 50  undergrad_major_8       556 non-null    int32
 51  undergrad_major_1       556 non-null    int32
 52  undergrad_major_2       556 non-null    int32
 53  undergrad_major_3       556 non-null    int32
 54  undergrad_major_11      556 non-null    int32
 55  undergrad_major_12      556 non-null    int32
 56  undergrad_major_13      556 non-null    int32
 57  undergrad_major_7       556 non-null    int64
 58  undergrad_major_9       556 non-null    int32
 59  undergrad_major_4       556 non-null    int32
 60  undergrad_major_5       556 non-null    int32
 61  undergrad_major_6       556 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(39), int64(19), object(2)
memory usage: 205.1+ KB
None